.btn {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.btn-primary {
  background-color: #b22b57 !important;
  border-color: #b22b57 !important;
}
.btn-primary:hover {
  color: #b22b57 !important;
  border-color: #b22b57 !important;
  background-color: #fff !important;
}

.btn-outline-danger {
  padding: 1rem 1rem !important;
  border-radius: 34px !important;
  width: 12rem !important;
  color: #b22b57 !important;
  border-color: #b22b57 !important;
}
.btn-outline-danger:hover {
  background-color: #b22b57 !important;
  border-color: #b22b57 !important;
  color: #fff !important;
}

.btn-enviar button {
  padding: 1rem 1rem !important;
  border-radius: 34px;
  width: 12rem;
}

.btn-cotizar {
  background-color: #b22b57;
  border-color: #b22b57;
  border-radius: 20px;
  width: 12rem;
  height: 2.8rem;
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: auto;
  text-decoration: none;
}
.btn-cotizar:hover {
  color: #b22b57;
  border-color: #b22b57;
  background-color: #fff;
}
@media (max-width: 419px) {
  .btn-cotizar {
    display: block;
    position: relative;
    margin: auto;
  }
}
@media (max-width: 960px) {
  .btn-cotizar {
    width: 8rem;
    height: 3rem;
  }
}

.link-cotizar {
  color: white;
  text-decoration: none;
}

.asterisco {
  color: red;
}

.card-container {
  margin: auto;
}

.card {
  border-radius: 24px !important;
}
@media (max-width: 419px) {
  .card {
    margin: auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 420px) {
  .card {
    width: 28rem;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 961px) {
  .card {
    width: 28rem;
    margin: auto;
    margin-bottom: 50px;
  }
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
}
@media (max-width: 419px) {
  .card-img-top {
    height: 12rem;
  }
}
@media (min-width: 420px) {
  .card-img-top {
    height: 18rem;
  }
}

.card-title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(33, 33, 33, 0.5);
  padding: 10px 20px 0px 30px;
}
@media (min-width: 961px) {
  .card-title {
    font-size: 2rem;
  }
}
@media (min-width: 420px) {
  .card-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 419px) {
  .card-title {
    font-size: 1.5rem;
  }
}

.card-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33, 0.5);
  padding-bottom: 20px;
  padding: 0px 30px;
}
@media (min-width: 961px) {
  .card-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 420px) {
  .card-text {
    font-size: 1.2rem;
  }
}
@media (max-width: 419px) {
  .card-text {
    font-size: 1rem;
  }
}

.card-compra {
  width: 25rem;
  margin: auto;
}
@media (max-width: 960px) {
  .card-compra {
    margin: auto;
    margin-bottom: 2rem;
    width: 90%;
  }
}
.card-compra h6 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.card-compra p {
  text-align: center;
}
@media (max-width: 960px) {
  .card-compra p {
    text-align: justify;
  }
}
.card-compra h6 {
  text-align: center;
}
.card-compra img {
  position: relative;
}

.navbar {
  width: 100%;
  height: auto;
}

header {
  margin-top: 0;
  height: auto;
}
@media (max-width: 960px) {
  header {
    height: auto;
  }
}

.logo-container {
  width: 20%;
}
@media (max-width: 960px) {
  .logo-container {
    width: 50%;
  }
}

@media (min-width: 961px) {
  .logo {
    width: 250px;
  }
}
@media (min-width: 420px) {
  .logo {
    margin-left: 0.5rem;
    width: 200px;
  }
}
@media (max-width: 419px) {
  .logo {
    margin-left: 0.5rem;
    width: 150px;
  }
}

.main-menu {
  padding: 10px 0px;
}

.navbar-nav {
  width: 70%;
  justify-content: space-around;
}

@media (max-width: 960px) {
  .navbar-collapse {
    padding-top: 30px;
  }
}

.social-menu {
  width: 15%;
  text-align: center;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .social-menu {
    display: none;
  }
}
.social-menu a {
  color: white;
}

.social-item {
  width: 22%;
  padding: 0px 5px;
}

.nav-item {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-dark,
.navbar-nav,
.nav-link {
  color: #b22b57 !important;
}

.navbar-toggler {
  color: #b22b57 !important;
  margin-right: 1em;
}

.header-fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #1a1a1a;
}

.heading-container {
  margin-top: 7rem;
}

.background {
  background-image: url(../../images/background/background.jpg);
  background-attachment: fixed;
  object-fit: cover;
  z-index: -10;
  height: auto;
}

.heading-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 0px;
  width: 100%;
  height: auto;
  display: block;
}

.heading-foto {
  display: flex;
  position: relative;
  margin: auto;
  padding: 20px 0px;
}
@media (max-width: 960px) {
  .heading-foto {
    width: 70%;
  }
}
@media (min-width: 961px) {
  .heading-foto {
    width: 55%;
  }
}

.heading-texto {
  height: auto;
}
@media (max-width: 419px) {
  .heading-texto {
    margin: auto;
    padding: 0px 0px 40px 0px;
  }
}
@media (min-width: 420px) {
  .heading-texto {
    margin: auto;
    padding: 40px 0px;
  }
}
@media (min-width: 961px) {
  .heading-texto {
    display: table-cell;
    vertical-align: middle;
    padding: 160px 0px;
  }
}

.productos-container {
  padding-bottom: 50px;
  width: 80%;
  margin: auto;
}

.contenedor {
  width: 100%;
  display: flex;
  margin: auto;
}
@media (min-width: 1920px) {
  .contenedor {
    width: 80%;
  }
}

.white {
  background-color: #fff;
}

.bio-background {
  background-color: rgba(254, 152, 130, 0.2);
}

.bio-container {
  padding: 10px 0px 30px 0px;
  margin: auto;
}
@media (min-width: 961px) {
  .bio-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
}
@media (max-width: 960px) {
  .bio-container {
    width: 75%;
  }
}
@media (min-width: 961px) {
  .bio-container #info-luly {
    margin-left: 8rem;
  }
}

.como-comprar-container {
  padding-top: 2rem !important;
  padding-bottom: 5rem !important;
  width: 90%;
  margin: auto;
}
@media (min-width: 961px) {
  .como-comprar-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
}
@media (max-width: 960px) {
  .como-comprar-container {
    display: block;
    padding: 10px 0px 30px 0px;
    margin: auto;
    width: 80% !important;
  }
}

.bio-img {
  width: 80%;
  height: auto;
  border-radius: 50% !important;
  object-fit: cover;
}
@media (max-width: 960px) {
  .bio-img {
    padding: 30px 0px 30px 0px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 961px) {
  .bio-img {
    padding: 100px 0px 100px 0px;
  }
}

.bio-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: left;
  color: rgba(33, 33, 33, 0.5);
  font-size: 1.2rem;
}
@media (min-width: 961px) {
  .bio-text {
    text-align: left;
  }
}
@media (max-width: 960px) {
  .bio-text {
    text-align: justify;
  }
}
@media (max-width: 419px) {
  .bio-text {
    font-size: 1rem;
  }
}

.img-compra {
  display: flex;
  justify-content: center;
}

.comprar-img {
  margin: auto;
  width: 35%;
  padding-bottom: 20px;
}
@media (max-width: 960px) {
  .comprar-img {
    margin: auto;
    width: 50%;
  }
}

.comprar-text {
  margin: auto;
  width: 70%;
  align-content: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.2rem;
}
@media (max-width: 960px) {
  .comprar-text {
    text-align: justify;
  }
}
@media (max-width: 419px) {
  .comprar-text {
    font-size: 1rem;
  }
}

.comprar-column {
  width: 30%;
}
@media (max-width: 960px) {
  .comprar-column {
    width: 100%;
  }
}

.cotizar-container {
  background-color: rgba(255, 255, 255, 0.7);
}

.contacto-container {
  width: 70%;
  margin: auto;
  height: auto;
  padding-bottom: 4rem;
}
.contacto-container span {
  margin-right: 0.8rem;
}
.contacto-container a, .contacto-container i {
  font-size: 1.2rem;
  color: #fff;
}

.contacto-elements {
  padding-top: 40px;
}

.contacto-item {
  padding-top: 0.5rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
}
.contacto-item:hover {
  font-weight: bold;
}
@media (max-width: 419px) {
  .contacto-item {
    font-size: 1rem;
  }
}

.link {
  text-decoration: none;
}
.link:hover {
  color: #fff;
  font-weight: bold;
}

.fas, .fa, .fab {
  font-size: 3rem !important;
}
@media (max-width: 419px) {
  .fas, .fa, .fab {
    font-size: 2rem !important;
  }
}

.contacto-icon {
  padding-right: 2rem;
}
@media (max-width: 960px) {
  .contacto-icon {
    padding-bottom: 2rem;
  }
}
@media (max-width: 419px) {
  .contacto-icon {
    padding-right: 1rem;
  }
}

.contacto-column {
  display: flex;
  justify-content: center;
  align-content: center;
}

.foto-background-contacto {
  background-image: url(../../images/background/fondo-cookies.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
  z-index: -10;
}

.color-background-contacto {
  background-color: rgba(76, 77, 133, 0.8);
}

.fondo-cero {
  background-color: #d8d8d8 !important;
}

.fondo-uno {
  background-color: #fec06b !important;
}

.fondo-dos {
  background-color: #ff9882 !important;
}

.fondo-tres {
  background-color: #fd8a5e !important;
}

.fondo-cuatro {
  background-color: #b22b57 !important;
}

.fondo-cinco {
  background-color: #4b4d84 !important;
}

.fondo-seis {
  background-color: #fe9882 !important;
}

.title {
  font-family: "Lobster Two";
  font-weight: bold;
  color: #b22b57;
}
@media (max-width: 419px) {
  .title {
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
  }
}
@media (max-width: 960px) {
  .title {
    font-size: 2.5rem;
    margin: auto;
  }
}
@media (min-width: 961px) {
  .title {
    font-size: 5rem;
    width: 100%;
    position: relative;
  }
}

.subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #b22b57;
  padding-bottom: 10px;
}
@media (max-width: 419px) {
  .subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
  }
}
@media (max-width: 960px) {
  .subtitle {
    font-size: 1.5rem;
    margin: auto;
    margin-top: 10px;
  }
}
@media (min-width: 961px) {
  .subtitle {
    margin-top: 20px;
    font-size: 2rem;
  }
}

.title-section {
  padding-top: 3rem !important;
  font-family: "Lobster Two";
  font-weight: bold;
  text-align: center;
  padding: 40px 0px 40px 0px;
  color: white;
}
@media (max-width: 419px) {
  .title-section {
    font-size: 3rem;
  }
}
@media (min-width: 420px) {
  .title-section {
    font-size: 4rem;
  }
}

.bio-title {
  font-family: "Lobster Two";
  font-weight: bold;
  color: #737373;
}
@media (max-width: 419px) {
  .bio-title {
    text-align: center;
    font-size: 3rem;
  }
}
@media (max-width: 960px) {
  .bio-title {
    padding: 0px 0px 40px 0px;
    text-align: center;
    font-size: 4rem;
  }
}
@media (min-width: 961px) {
  .bio-title {
    padding: 40px 0px 40px 0px;
    text-align: left;
    font-size: 4rem;
  }
}

.title-item {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4rem;
}

.subtitle-item {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
}
@media (max-width: 419px) {
  .subtitle-item {
    font-size: 1.5rem;
  }
}

.cotizar-title {
  font-family: "Lobster Two";
  color: #737373;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding: 40px 0px 20px 0px;
}
@media (max-width: 419px) {
  .cotizar-title {
    font-size: 3rem;
  }
}

.subtitle-section {
  font-family: "Lobster Two";
  text-align: justify;
  font-size: 150%;
}

.cotizar-subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  margin: auto;
  color: #737373;
}

.contacto-title {
  font-family: "Lobster Two";
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding: 40px 0px 40px 0px;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-bottom: 5rem;
  width: 60%;
}

.form-label {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 1.5rem;
}

.form-check-label {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.form-check-input {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.form-check-input:checked {
  background-color: #b22b57 !important;
  border-color: #b22b57 !important;
}

input[type=file] {
  display: none;
}

.form-control {
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 1px solid #212121BF !important;
  border-radius: 34px !important;
  opacity: 0.5 !important;
}

.btn-enviar {
  display: flex;
  justify-content: space-around;
}

.check-info {
  display: flex;
  justify-content: space-around;
}
.check-info .label-check {
  font-size: 1rem;
}

.cargar-fotos .label-fotos {
  padding-left: 1rem;
  font-size: 1.2rem;
}

@media (max-width: 419px) {
  .recaptcha {
    margin: auto;
    text-align: center;
  }
}

.footer {
  margin: auto !important;
  width: 100%;
  height: auto;
  padding: 2rem 0rem;
  bottom: 0;
}
@media (max-width: 960px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 961px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}
.footer p {
  font-size: 1.3rem !important;
}

.footer-column {
  display: flex;
  justify-content: center;
}

.footer-item {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

.footer-social {
  width: 30%;
  margin: auto;
}
@media (max-width: 960px) {
  .footer-social {
    width: 100%;
    text-align: center;
  }
}

.footer-social-item {
  width: 28%;
  padding-left: 10px;
}
@media (max-width: 960px) {
  .footer-social-item {
    width: 15%;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1rem;
}

.icon-fixed {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 10;
  transition: filter 0.3s ease-in-out;
  filter: drop-shadow(1px 1px 25px #666666);
}
@media (min-width: 961px) {
  .icon-fixed {
    width: 3%;
  }
}
@media (max-width: 960px) {
  .icon-fixed {
    width: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
