@import 'base/colors';
@import 'base/fonts';
@import 'base/queries';
@import 'base/variables';
@import 'components/buttons';
@import 'components/cards';
@import 'components/header';
@import 'components/main';
@import 'components/titles';
@import 'components/form';
@import 'components/footer';
@import 'functions/extends';
@import 'functions/mixins';

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-size: 1rem;
}

.icon-fixed {
    position:fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;   
    transition: filter .3s ease-in-out;
    filter: drop-shadow(1px 1px 25px #666666);

    @media (min-width: $bp-desktop) {
        width: 3%;
    }

    @media (max-width: $bp-tablet-max) {
        width: 10%;
    }
    
}
