.btn {
    font-family: $font-body;
}

.btn-primary {
    background-color: $color-4 !important;
    border-color:  $color-4 !important;
    &:hover{
        color: $color-4 !important; 
        border-color:  $color-4 !important;
        background-color: #fff !important;
    }
}
.btn-outline-danger {
    padding: 1rem 1rem !important;
    border-radius: 34px !important; 
    width: 12rem !important;
    color: $color-4 !important;
    border-color:  $color-4 !important;
    &:hover {
        background-color: $color-4 !important;
        border-color:  $color-4 !important;
        color: #fff !important; 
    }
}

.btn-enviar button {
    padding: 1rem 1rem !important;
    border-radius: 34px;
    width: 12rem;
}

.btn-cotizar {
    background-color: $color-4 ;
    border-color:  $color-4;
    border-radius: 20px;
    width: 12rem;
    height: 2.8rem;
    color: #fff;
    font-family: $font-body;
    font-size: 1rem;
    text-transform: uppercase;
    margin:auto;
    text-decoration: none;
    &:hover{
        color: $color-4;
        border-color:  $color-4;
        background-color: #fff;
    }
    @media(max-width:$bp-mobile){
        display: block;
        position: relative;
        margin: auto; 
    }
    @media(max-width:$bp-tablet-max) {
        width: 8rem;
        height: 3rem;
    }
}

.link-cotizar {
    color: white;
    text-decoration: none;
}

.asterisco {
    color: red;
}