.card-container {
   margin: auto;
}

.card {    
    border-radius: 24px !important;

    @media(max-width: $bp-mobile) {
        margin: auto;
        margin-bottom: 30px;

    }

    @media(min-width: $bp-tablet-min) {
        width: 28rem;
        margin: auto;
        margin-bottom: 30px;
    }
    @media(min-width: $bp-desktop) {
        width: 28rem;
        margin: auto;
        margin-bottom: 50px;
    }
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 24px !important; 
    border-top-right-radius: 24px !important;
    @media(max-width: $bp-mobile) {
        height: 12rem;
    }
    @media(min-width: $bp-tablet-min) {
        height: 18rem;
    }
}

.card-title {
    font-family: $font-body;
    font-weight: bold;
    color: rgba(33, 33, 33, 0.5);
    padding: 10px 20px 0px 30px;
    
    @media(min-width: $bp-desktop) {
        font-size: 2rem;
    }
    @media(min-width: $bp-tablet-min) {
        font-size: 1.8rem;
    }
    @media(max-width:$bp-mobile){
        font-size: 1.5rem;
    }
}

.card-text {
    font-family: $font-body;
    color: rgba(33, 33, 33, 0.5);
    padding-bottom: 20px;
    padding: 0px 30px;
    @media(min-width: $bp-desktop) {
        font-size: 1.5rem;
    }
    @media(min-width: $bp-tablet-min) {
        font-size: 1.2rem;
    }
    @media(max-width:$bp-mobile){
        font-size: 1rem;
    }
}

.card-compra {
    width: 25rem;
    margin: auto;
    @media (max-width: $bp-tablet-max) {
        margin: auto;
        margin-bottom: 2rem;
        width: 90%;
    } // estilos de la sección como comprar
    h6 {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    p {
        text-align: center;
        @media(max-width:$bp-tablet-max) {
                text-align: justify;
            }   
    }
    h6 {
        text-align: center;
    }
    img {
        position: relative;
    }
}