.footer {
    margin: auto !important;
    width: 100%;
    height: auto;
    padding: 2rem 0rem;
    bottom: 0;
    @media(max-width: $bp-tablet-max) {
        display: flex;
        justify-content: center;
    }
    @media(min-width: $bp-desktop) {
        display: flex;
        justify-content: space-between;
    }
    p {
        font-size: 1.3rem!important;
    }
}

.footer-column {
    display: flex;
    justify-content: center;
}

.footer-item {
    font-family: $font-body;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

.footer-social {
    width: 30%;    
    margin: auto;
    @media (max-width: $bp-tablet-max) {
        width: 100%;
        text-align: center;
    }
}

.footer-social-item {
    width: 28%;
    padding-left: 10px;
    @media (max-width: $bp-tablet-max) {
        width: 15%;
        text-align: center;
    }
}