.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding-bottom: 5rem;
    width: 60%;
}

.form-label {
    font-family: $font-body;
    color: #737373;
    font-size: 1.5rem;
}

.form-check-label {
    font-family: $font-body;
}

.form-check-input {
    font-family: $font-body;
    font-size: 1.5rem;
    &:checked{
        background-color: $color-4 !important;
        border-color: $color-4 !important;
    }
}

input[type="file"] {
    display: none;
}
.form-control {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #212121BF !important;
    border-radius: 34px !important;
    opacity: 0.5 !important;
}

// centrar botones y checks del form.
.btn-enviar {
    display: flex;
    justify-content: space-around;
}
.check-info {
    display: flex;
    justify-content: space-around;
    .label-check {
        font-size: 1rem;
    }
}
.cargar-fotos {
    .label-fotos {
        padding-left: 1rem;
        font-size: 1.2rem;
    }
}

.recaptcha {
    @media (max-width: $bp-mobile) {
        margin: auto;
        text-align: center;
    }
}