.navbar {
    width: 100%;
    height: auto;
}


header {
    margin-top: 0;
    height: auto;
    @media (max-width: $bp-tablet-max) {
        height: auto;
    }
}

.logo-container {
    width: 20%;
    @media (max-width: $bp-tablet-max) {
        width: 50%;
    }
}

.logo {
    @media (min-width: $bp-desktop) {
        width: 250px;
    }

    @media (min-width: $bp-tablet-min) {
        margin-left: 0.5rem;
        width: 200px;
    }
    @media (max-width: $bp-mobile) {
        margin-left: 0.5rem;
        width: 150px;
    }
}

.main-menu {
    padding: 10px 0px;
}

.navbar-nav {
    width: 70%;
    justify-content: space-around;
}

.navbar-collapse {
    @media (max-width: $bp-tablet-max) {
        padding-top: 30px;
    }
}

.social-menu {
    width: 15%;
    text-align: center;
    justify-content: space-between;
    @media (max-width: $bp-tablet-max){
        display: none;
    }
    a {
        color: white;
    }
}

.social-item {
    width: 22%;
    padding: 0px 5px;
    
}

.nav-item {
    font-family: $font-body;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar-dark, 
.navbar-nav, 
.nav-link {
    color: $color-4 !important;
}

.navbar-toggler {
    color: $color-4 !important;
    margin-right: 1em;
}
.header-fixed {
    overflow: hidden;
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 10; 
  background-color: #1a1a1a;
}
.heading-container {
    margin-top: 7rem;
}