.background {
    background-image: url(../../images/background/background.jpg);
    background-attachment: fixed;
    object-fit: cover;
    z-index: -10;
    height: auto;
}

.heading-container {    
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 0px;
    width: 100%;
    height: auto;
    display: block;
}

.heading-foto {
    display: flex;
    position: relative;
    margin: auto;
    padding: 20px 0px;
    
    @media(max-width:$bp-tablet-max){
        width: 70%;
    }
    @media(min-width:$bp-desktop){
        width: 55%;
    }
}

.heading-texto {   
    
    height: auto;
    @media(max-width: $bp-mobile) {
        margin: auto;
        padding: 0px 0px 40px 0px;
    }
    @media(min-width: $bp-tablet-min) {
        margin: auto;
        padding: 40px 0px;
    }
    @media(min-width: $bp-desktop) {
        display: table-cell;
        vertical-align: middle;
        padding: 160px 0px;
    }
}

.productos-container {
    padding-bottom: 50px;
    width: 80%;
    margin: auto;
}

.contenedor {
    width: 100%;
    display: flex;
    margin: auto;
    
    @media(min-width: $bp-desktop-fhd){
        width: 80%;
    }
}
.white {
    background-color: #fff;
}

.bio-background {
    background-color: rgba(254, 152, 130, 0.2)
}

.bio-container {    
    padding: 10px 0px 30px 0px;
    margin:auto;
    @media (min-width: $bp-desktop) {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
    @media (max-width: $bp-tablet-max) {
        width: 75%;
    }
    #info-luly {
        @media (min-width: $bp-desktop) {
            margin-left: 8rem;
        }
    }
}

.como-comprar-container {
    
    padding-top: 2rem !important;
    padding-bottom: 5rem !important;
    width: 90%;
    margin: auto;
    @media(min-width: $bp-desktop) {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    @media(max-width: $bp-tablet-max) {
        display: block;
        padding: 10px 0px 30px 0px;
        margin: auto;
        width: 80% !important;
    }

}

.bio-img {
    width: 80%;
    height: auto;
    border-radius: 50% !important;
    object-fit: cover;
    @media (max-width: $bp-tablet-max){
        padding: 30px 0px 30px 0px;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;        
    }
    @media (min-width: $bp-desktop) {
        padding: 100px 0px 100px 0px;

        }
}

.bio-text {
    font-family: $font-body;
    text-align: left;
    color: rgba(33, 33, 33, 0.5);
    font-size: 1.2rem;
    @media(min-width: $bp-desktop) {
        text-align: left;
    }
    @media(max-width:$bp-tablet-max) {
        text-align: justify;
    }
    @media(max-width:$bp-mobile) {
        font-size: 1rem;
    }
}

.img-compra{
    display: flex;
    justify-content: center;
}

.comprar-img {
    margin: auto;
    width: 35%;
    padding-bottom: 20px;
    @media (max-width: $bp-tablet-max) {
        margin: auto;
        width: 50%;
    }
}

.comprar-text {
    margin: auto;
    width: 70%;
    align-content: center;
    font-family: $font-body;
    color: white;
    font-size: 1.2rem;
    @media(max-width:$bp-tablet-max) {
        text-align: justify;
    }
    @media(max-width:$bp-mobile) {
        font-size: 1rem;
    }
}

.comprar-column {
    width: 30%;
    @media (max-width: $bp-tablet-max) {
        width: 100%;
    }
}

.cotizar-container {
    background-color: rgba(255, 255, 255, 0.7);
}


.contacto-container {
    width: 70%;
    margin: auto;
    height: auto;
    padding-bottom: 4rem;
    span {
        margin-right: 0.8rem;
    }   
    a, i {
        font-size: 1.2rem;
        color: #fff;
    }
}

.contacto-elements {
    padding-top: 40px;
}

.contacto-item {
    padding-top: 0.5rem;
    font-family: $font-body;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    &:hover{
        font-weight: bold;
    }
    @media(max-width: $bp-mobile){
        font-size: 1rem;
    }
}


.link {
    text-decoration: none;
    &:hover{
        color:#fff;
        font-weight: bold;
    }
}

.fas, .fa, .fab {
    font-size: 3rem !important;
    @media(max-width: $bp-mobile) {
        font-size: 2rem !important;
    }
}

.contacto-icon {
    padding-right: 2rem;
    @media(max-width: $bp-tablet-max) {
        padding-bottom: 2rem;
    }
    @media(max-width: $bp-mobile) {
        padding-right: 1rem;
    }
}

.contacto-column {
    display: flex;
    justify-content: center;
    align-content: center;
}

.foto-background-contacto {
    background-image: url(../../images/background/fondo-cookies.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat:repeat-y;
    z-index: -10;

}

.color-background-contacto {
    background-color: rgba(76, 77, 133, 0.8);
}


/// fondos

.fondo-cero {
    background-color: $color-0 !important;
}
.fondo-uno {
    background-color: $color-1 !important;
}
.fondo-dos {
    background-color: $color-2 !important;
}
.fondo-tres {
    background-color: $color-3 !important;
}
.fondo-cuatro {
    background-color: $color-4 !important;
}
.fondo-cinco {
    background-color: $color-5 !important;
}
.fondo-seis {
    background-color: $color-6 !important;
}