.title {
    font-family: $font-title;    
    font-weight: bold;
    color: $color-4;
    @media(max-width: $bp-mobile) {
        font-size: 2.5rem;
        text-align: center;
        width: 90%;
    }
    @media(max-width: $bp-tablet-max) {
        font-size: 2.5rem;
        margin: auto;
    }
    @media(min-width: $bp-desktop) {
        font-size: 5rem;
        width: 100%;
        position: relative;
    }    
}

.subtitle {
    font-family: $font-body;
    font-weight: bold;
    color: $color-4;
    padding-bottom: 10px;
    @media(max-width: $bp-mobile) {
        font-size: 1.5rem;
        margin-top: 10px;
        text-align: center;
    }
    @media(max-width: $bp-tablet-max) {
        font-size: 1.5rem;
        margin: auto;        
        margin-top: 10px;
    }
    @media(min-width: $bp-desktop) {
        margin-top: 20px;
        font-size: 2rem;
    }
    
}

.title-section {
    padding-top: 3rem !important;
    font-family: $font-title;
    font-weight: bold;
    text-align: center;
    padding: 40px 0px 40px 0px;
    color:white;
    @media (max-width: $bp-mobile) {
        font-size: 3rem;
    }
    @media(min-width:$bp-tablet-min) {
        font-size: 4rem;
    }
}

.bio-title {
    font-family: $font-title;
    font-weight: bold;
    color: rgba(115, 115, 115, 1);
    @media (max-width: $bp-mobile) {
        text-align: center;
        font-size: 3rem;
    }
    @media(max-width:$bp-tablet-max) {
        padding: 0px 0px 40px 0px;
        text-align: center;
        font-size: 4rem;
    }
    @media(min-width: $bp-desktop) {
        padding: 40px 0px 40px 0px;
        text-align: left;
        font-size: 4rem;
    }
}

.title-item {
    font-family: $font-body;
    color: white;
    font-size: 4rem;
}

.subtitle-item {
    font-family: $font-body;
    color: white;
    font-size: 2rem;
    @media(max-width:$bp-mobile) {
        font-size: 1.5rem;
    }
}

.cotizar-title {
    font-family: $font-title;
    color: rgba(115, 115, 115, 1);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 40px 0px 20px 0px;
    @media (max-width: $bp-mobile) {
        font-size: 3rem;
    }

}

.subtitle-section {
    font-family: $font-title;
    text-align: justify;
    font-size: 150%;
}

.cotizar-subtitle {
    font-family: $font-body;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: auto;
    color: rgba(115, 115, 115, 1);   
}

.contacto-title {
    font-family: $font-title;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 40px 0px 40px 0px;

}